body {
  background-image: url('/sakurastream.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    background-image: url('/mobilesize.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}