body {
  background-image: url('/sakurastream.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  body {
    background-image: url('/mobilesize.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.fixed.inset-0 {
  overflow-y: auto;
  overflow-x: hidden;
}

body.modal-open,
html.modal-open {
  height: 100%;
  overflow: hidden;
}

.motion-div-class-name {
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

@font-face {
  font-family: 'JapanGateDemo';
  src: url('/Japan Gate demo.otf') format('opentype');
}

.search-title {
  font-family: 'JapanGateDemo', sans-serif;
}

.modal-overlay {
  z-index: 1000;
}

.pink-transparent-bg {
  background-color: rgba(207, 127, 167, 0.9);
  color: white !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .pink-transparent-bg {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .parent-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .pink-transparent-bg {
    margin: auto;
    max-width: 90%; /* or whatever max width you prefer */
    flex-grow: 1;
  }
}
